body{
    background: linear-gradient(65deg, rgba(181,41,231) , rgba(255,164,238,1) , rgba(216,43,43) );
    min-height: 100vh;

}
h1{
    color: white;
    text-align: center;
}
.calculator {
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 18px;
    outline: none;
    border: none;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.548);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    border-radius: 5px;
}
.aqua{
    color: aqua;
}